* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

*:focus-visible {
  box-shadow: 0 0 0 0.1rem #fff, 0 0 0 0.5rem var(--green-400);
}
:root {
  /* ### Primary */
  --green-400: hsl(172, 67%, 45%);
  /* ### Neutral */
  --green-900: hsl(183, 100%, 15%);
  --grey-500: hsl(186, 14%, 43%);
  --grey-400: hsl(184, 14%, 56%);
  --grey-200: hsl(185, 41%, 84%);
  --grey-50: hsl(189, 47%, 97%);
  --white: hsl(0, 100%, 100%);
  /* Red */
  --red-50: hsl(2, 44%, 46%);
}

html {
  font-size: 62.5%;
  font-weight: 700;
}
.background-container {
  width: 100%;

  background-color: var(--grey-200);
}
.img-container {
  display: flex;
  justify-content: center;
  padding: 3rem 0 3rem;
}
.main-container {
  width: 100%;
  background-color: var(--white);
  border-radius: 1rem 1rem 0rem 0rem;
  padding: 2rem;
}
.section-choice {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label-title {
  color: var(--grey-500);
  font-size: 1.25rem;
  padding-bottom: 1rem;
}
.closed {
  display: none;
}
.err-message {
  color: var(--red-50);
  font-size: 1.25rem;
  padding-bottom: 1rem;
}
/* Positioning dollar sign in input field */
.input {
  position: relative;
}

.input:before {
  content: "";
  position: absolute;
  left: 1rem;
  top: 0;
  bottom: 0;
  width: 0.75rem;
}
.input-bill:before {
  background: url("/tip-calculator-app-main/images/icon-dollar.svg") center /
    contain no-repeat;
}
.input-people:before {
  background: url("/tip-calculator-app-main/images/icon-person.svg") center /
    contain no-repeat;
}

input {
  background-color: var(--grey-50);
  border: none;
  outline: none;
  height: 4rem;
  color: var(--green-900);
  padding-right: 2rem;
  text-align: right;
  font-weight: 700;
  width: 100%;
  font-size: 1.75rem;
}
input:focus {
  border: 0.2rem solid var(--green-400);
  border-radius: 0.5rem;
}

.err-border {
  border: 0.2rem solid var(--red-50);
  border-radius: 0.5rem;
}
/* Getting rid of input field arrows in Chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Getting rid of input field arrows in Firefox*/
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* Aligning placeholder to the right side of input field */
input::placeholder {
  text-align: right;
  color: var(--grey-400);
}
.tip-choices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}
.btn-tip {
  height: 4rem;
  background-color: var(--green-900);
  color: var(--white);
  border-radius: 0.5rem;
  font-size: 1.75rem;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-tip:hover {
  background-color: var(--grey-200);
}
.btn-tip:active {
  background-color: var(--green-400);
}
.btn-custom {
  background-color: var(--grey-50);
  color: var(--green-900);
}
.chosen {
  background-color: var(--green-400);
}
.section-results {
  margin-top: 2rem;
  width: 100%;
  background-color: var(--green-900);
  border-radius: 1rem;
  padding: 3rem;
}
.tip-results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  align-items: center;
}
.tip-amount,
.total {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}
.tip-info {
  color: var(--white);
  font-size: 1.25rem;
}
.person {
  color: var(--grey-200);
}
output {
  font-size: 3rem;
  color: var(--green-400);
  display: flex;
  justify-content: end;
}
.btn-reset {
  height: 4rem;
  background-color: var(--green-400);
  outline: none;
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  margin-top: 3rem;
}
.attribution {
  font-size: 1.1rem;
  text-align: center;
  bottom: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */

/* Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens. */
/* 
Your users should be able to:

- View the optimal layout for the app depending on their device's screen size
- See hover states for all interactive elements on the page
- Calculate the correct tip and total cost of the bill per person */

/* - Font size (form inputs): 24px */

/* - Weights: 700 */
